@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    transition: all 300ms linear;
}

.bg-img {
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pranteb {
    width: 100px;
    height: 50px;
    background-color: blue;
    border-radius: 30px;
    padding: 10px;

}

.circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;

}

.in-email {
    font-family: "Nunito Sans", sans-serif;
    max-width: 80%;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    padding: 20px;
    outline: none;
    border: 1px solid white;
    font-size: 24px;
    font-weight: 600;
    color: white;

}

::placeholder {
    color: white;
}

.Btn-login {
    font-family: "Nunito Sans", sans-serif;
    width: 80%;
    height: 60px;
    background-color: blue;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-size: 24px;

}

#con {
    width: 24px;
    height: 24px;
}

.w-80 {
    width: 80%;
}

.rem-me {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.forgot {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
}

.header-text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
}

.login-footer-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.login-footer-text::after {
    content: "";
    position: absolute;
    width: 48%;
    left: 0;
    top: 42%;
    height: 2px;
    background-color: whitesmoke;

}

.login-footer-text::before {
    content: "";
    position: absolute;
    width: 48%;
    right: 0;
    top: 42%;

    height: 2px;
    background-color: whitesmoke;

}

.w-45 {
    width: 45%;
}

.cursor {
    cursor: pointer;
}

.google,
.facebook {
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;

}

.login-text {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.d-n {
    display: none !important;
}

.d-f {
    display: flex !important;
}

.login-header-text {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;

}


.min-vh-90{
    min-height: 94vh;
}






@media (max-width:992px) {

    .in-email,
    .forgot,
    .rem-me,
    .Btn-login {
        font-size: 22px;
    }

    .login-header-text {
        font-size: 24px;
    }

    .login-text {
        font-size: 18px;
    }

    #con {
        width: 20px;
        height: 20px;

    }

    .login-footer-text::after {
        content: "";
        position: absolute;
        width: 43%;
        left: 0;
        top: 42%;
        height: 2px;
        background-color: whitesmoke;

    }

    .login-footer-text::before {
        content: "";
        position: absolute;
        width: 43%;
        right: 0;
        top: 42%;
        height: 2px;
        background-color: whitesmoke;

    }

    .pranteb {
        width: 80px;
        height: 40px;
        padding: 8px;
    }

    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

}

@media (max-width:768px) {

    .in-email,
    .forgot,
    .rem-me,
    .Btn-login {
        font-size: 18px;
    }

    .login-header-text {
        font-size: 22px;
    }

    .login-text {
        font-size: 16px;
    }

    .gap-mmd-2 {
        gap: 16px !important;
    }

    #con {
        width: 16px;
        height: 16px;

    }

    .pranteb {
        width: 70px;
        height: 40px;
        padding: 8px;
    }

    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

}

@media (max-width:576px) {

    .in-email,
    .forgot,
    .rem-me,
    .Btn-login {
        font-size: 12px;
    }

    .login-header-text {
        font-size: 18px;
    }

    .login-text {
        font-size: 16px;
    }

    #con {
        width: 12px;
        height: 12px;

    }

    .pranteb {
        width: 50px;
        height: 25px;
        padding: 4px;
    }

    .circle {
        width: 17.5px;
        height: 17.5px;
        border-radius: 50%;
    }


}